:root {
  --card-bg: hsl(225, 100%, 98%);
  --bg-color: hsl(225, 100%, 94%);
  --btn-color: hsl(245, 75%, 52%);
  --font-color: hsl(224, 23%, 55%);
  --font-dark: hsl(223, 47%, 23%);
  --hover-blue: hsl(245, 90%, 70%);
  font-family: 'Red Hat Display', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
}

.page {
  min-height: 97svh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  z-index: 1;
}

.background-image img {
  width: 100svw;
}

.component {
  margin: auto;
  max-width: 375px;
  padding: 32px 28px;
  border-radius: 20px;
  background-color: hsl(0, 100%, 100%);
  box-shadow: 0px 12px 16px hsl(225, 60%, 70%);
  z-index: 2;
}

h1 {
  font-weight: 900;
  color: var(--font-dark);
}

.component > * {
  margin-bottom: 20px;
}

.component :last-child {
  margin-bottom: 0px;
}

.hero-image {
  margin: -32px -28px 24px -28px;
}

.hero-image img {
  border-radius: 20px 20px 0px 0px;
}

.plan {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--card-bg);
  padding: 16px 12px;
  border-radius: 10px;
}

.plan img {
  min-width: 1.1rem;
}

.close-info {
  display: flex;
  gap: 16px;
}
.pricing-info {
  display: flex;
  flex-direction: column;
}
.plan .duration {
  color: var(--font-dark);
}

.change-plan {
  color: var(--btn-color);
}

.change-plan:hover {
  color: var(--hover-blue);
  text-decoration: none;
}

.buttons {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.proceed {
  background-color: var(--btn-color);
  color: var(--card-bg);
  padding: 12px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 12px 20px hsl(245, 80%, 86%);
}

.cancel {
  all: unset;
  color: inherit;
  border-radius: 10px;
}

.proceed:hover {
  background-color: var(--hover-blue);
  cursor: pointer;
}

.cancel:hover {
  color: var(--font-dark);
  cursor: pointer;
}

.attribution {
  max-height: 3vh;
  font-size: 12px;
  text-align: center;
  color: var(--font-dark);
}
.attribution a {
  color: var(--btn-color);
  text-decoration: none;
  transition: all 0.2s ease;
}
.attribution a:hover {
  color: var(--font-dark);
  font-weight: bold;
  text-decoration: underline;
}
